// commons

.some-class {
    height: 100vh;
    width: 100vw;
}

.control {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
}

.marker {
    &__wrapper {
        width: 30px;
        max-height: 30px;
    }
    &-red {
        filter: var(--red-filter);
    }
    &-blue {
        filter: var(--royalblue-filter);
    }
}

.svg {
    &-marker {
        width: 25px;
    }
    &-add {
        width: 15px;
    }
    &--scale:hover {
        transform: scale(1.5);
    }
}

.my-card {
    min-width: 500px;
}

// redefine leaflet classes
.leaflet-popup-content {
    min-width: 500px;
    margin: 0;
}

.leaflet-popup-close-button {
    display: none;
}

.leaflet-container .leaflet-marker-pane img {
    width: 30px;
}

.leaflet-div-icon {
    border: none;
    background: transparent;
}

.leaflet-container .marker__wrapper {
    display: none;
}

.leaflet-marker-icon .marker__wrapper {
    display: block;
}
